{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Смена пароля {% endblock %}
{% block content %}
<body>
<div class="container-fluid" style="background-color: #ebebeb;">
    <div class="row justify-content-center">
        <div class="col-3">
          <h2>Password Change</h2>
          <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-success" type="submit">Сменить пароль</button>
          </form>
        </div>
    </div>
</div>
</body>
{% endblock %}